doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script src="/__/firebase/5.11.0/firebase-app.js"
    script src="/__/firebase/init.js"
    
